<div class="container">
<h1>About Me</h1>
<p>Hi, I'm Avneet Kaur, currently in my 4th semester of the Computer Programming diploma at Georgian College.</p>
<p>I've worked with multiple programming languages including Python, Java, C#, and JavaScript, and have experience with tools like GitHub, Visual Studio Code, and ASP.NET.</p>
<p>In my spare time, I enjoy building web projects, learning UI/UX principles, and exploring new technologies that help me become a better front-end developer.</p>
<p>I'm also passionate about communication and collaboration, and I love solving problems through code!</p>
</div>